<div class="row">
  <div class="col-md-8 offset-md-2 pt-5">
    <div class="card">
      <div class="card-header bg-white">
        <h3>Log In</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Email address</mat-label>
              <input type="email" matInput class="form-control" id="email" formControlName="email"
                     placeholder="Ex. user@gmail.com">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label for="password">Password</mat-label>
              <input type="password" class="form-control" id="password" formControlName="password"
                     placeholder="Password">
            </mat-form-field>
          </div>
          <button *ngIf="!isLoading" type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div *ngIf="isLoading" class="row my-4">
          <div class="col-12">
            <mat-spinner style="margin: auto"></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
