<div class="row" style="width: 50%">
  <div class="col-md-8 offset-md-2 pt-5">
    <div class="card">
      <div class="card-header bg-white d-flex justify-content-center">
        <h2>Prijavi se</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
          <div class="form-group">
            <mat-form-field class="toast-bottom-full-width">
              <mat-label>Email adresa</mat-label>
              <input type="email" formControlName="email" placeholder="Npr. user@gmail.com" matInput/>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="toast-bottom-full-width">
              <mat-label>Lozinka</mat-label>
              <input type="password" formControlName="password" placeholder="Lozinka" matInput/>
            </mat-form-field>
          </div>
          <button *ngIf="!isLoading" type="submit" class="btn myOrange">Prijavi se</button>
        </form>
        <p class="mt-2 font-italic">Nemaš profil? <a routerLink="/register">Registruj se.</a></p>

        <div *ngIf="isLoading" class="row my-4">
          <div class="col-12">
            <mat-spinner style="margin: auto"></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
