<div class="row">
  <div class="col-md-8 offset-md-2 pt-5">
    <div class="card">
      <div class="card-header bg-white d-flex justify-content-center">
        <h2>Log In</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
          <div class="form-group">
            <mat-form-field class="toast-bottom-full-width">
              <mat-label>Email address</mat-label>
              <input type="email" formControlName="email" placeholder="Ex. user@gmail.com" matInput/>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="toast-bottom-full-width">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="password" placeholder="Password" matInput/>
            </mat-form-field>
          </div>
          <button *ngIf="!isLoading" type="submit" class="btn btn-primary">Log in</button>
        </form>

        <div *ngIf="isLoading" class="row my-4">
          <div class="col-12">
            <mat-spinner style="margin: auto"></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
