<div class="card myGrayTransparent" style="margin: 15vh 15vw 15vh 15vw;">
  <div class="card-header myGrayTransparent">
    <div class="card-title text-center mb-0">
      <h5 class="mb-0">Korisnički profil</h5>
    </div>
  </div>

  <div class="card-body">

        <div *ngIf="isLoading" class="row">
          <div class="col-12">
            <mat-spinner style="margin: auto"></mat-spinner>
          </div>
        </div>

    <div *ngIf="!isLoading" [formGroup]="form">
      <div class="row">
        <div class="d-flex flex-wrap">
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Ime</mat-label>
              <input matInput readonly formControlName="name">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput readonly formControlName="email">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Telefonski broj</mat-label>
              <input matInput readonly formControlName="phoneNumber">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Stručna sprema</mat-label>
              <input matInput readonly formControlName="professionalQualifications">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Vozačka dozvola</mat-label>
              <input matInput readonly formControlName="drivingLicenceCategory">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Broj vozačke dozvole</mat-label>
              <input matInput readonly formControlName="drivingLicenceNumber">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12 d-flex justify-content-around flex-wrap">
          <button type="button" class="btn btn-danger mt-2" (click)="onDeleteClick()">
            Obriši profil
          </button>
          <button type="button" class="btn myOrange mt-2" routerLink="/settings">
            Izmeni profil
          </button>
        </div>
      </div>

    </div>

  </div>
</div>
