<div class="col-12 p-3 my-gray-transparent-background border-radius-top">
  <div class="row">
    <div class="col-8 text-left">
      <h2 class="modal-title">Povratak lozinke</h2>
    </div>
    <div class="col-auto ml-auto d-flex align-items-center">
      <i class="fa fa-times fa-2x pointer" (click)="hideForgotPasswordModal()" *ngIf="isLoading === 0"></i>
    </div>
  </div>
</div>
<div class="col-12 p-3 my-gray-transparent-background">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label class="col-form-label pt-0"
               for="email"
        >Vaša e-adresa</label>
        <input id="email"
               [ngClass]="{
                'form-control': true,
                'is-invalid': email.touched && email.errors,
                'is-valid': email.touched && !email.errors
              }"
               type="email"
               [formControl]="email"
               (keyup.enter)="send()"
        >
        <div *ngIf="email.touched && email.errors?.required"
             class="mt-1">
          <p class="text-danger">Potrebno je uneti e-adresu</p>
        </div>
        <div *ngIf="email.touched && email.errors?.email"
             class="mt-1">
          <p class="text-danger">E-adresa nije validna</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 p-3 my-gray-transparent-background border-radius-bottom" *ngIf="isLoading === 0">
  <div class="row">
    <div class="col-6">
      <button type="button"
              class="btn cancelBtn"
              data-dismiss="modal"
              (click)="hideForgotPasswordModal()"
      >
        Odustani
      </button>
    </div>
    <div class="col-6">
      <button type="button" class="btn main-btn" (click)="send()">Pošalji zahtev</button>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row" *ngIf="isLoading > 0">
    <div class="col-12 text-center">
      <div class="loader-box">
        <div class="loader-39"></div>
      </div>
    </div>
  </div>
</div>
