<div class="row m-0 align-items-center justify-content-center register">
  <div class="col-10 col-md-9 py-5">
    <div class="row">
    <div class="col-12 col-md-9 col-lg-7 col-xl-5">
      <div class="row">
        <div class="col-12 p-3 my-gray-transparent-background border-radius-top">
          <h2>Registruj se</h2>
        </div>
        <div class="col-12 p-3 my-gray-transparent-background border-radius-bottom">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="row mt-3">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label" for="name">Ime i prezime</label>
                  <input [ngClass]=
                           "{
                        'form-control': true,
                        'is-invalid': (registerForm.controls.name.touched || submitted) && registerForm.controls.name.invalid,
                        'is-valid': (registerForm.controls.name.touched || submitted) && registerForm.controls.name.valid
                      }"
                         type="text"
                         placeholder="Ime i prezime"
                         formControlName="name"
                         id="name"
                  >
                  <div
                    *ngIf="registerForm.controls.name.touched && registerForm.controls.name.errors?.required"
                    class="mt-1">
                    <p class="text-danger">Potrebno je uneti ime</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label" for="email">E-adresa</label>
                  <input [ngClass]=
                           "{
                        'form-control': true,
                        'is-invalid': (registerForm.controls.email.touched || submitted) && registerForm.controls.email.invalid,
                        'is-valid': (registerForm.controls.email.touched || submitted) && registerForm.controls.email.valid
                      }"
                         type="email"
                         placeholder="E-adresa"
                         formControlName="email"
                         id="email"
                  >
                  <div
                    *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.required"
                    class="mt-1">
                    <p class="text-danger">Potrebno je uneti e-adresu</p>
                  </div>
                  <div
                    *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.email"
                    class="mt-1">
                    <p class="text-danger">E-adresa nije validna</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label" for="password">Lozinka</label>
                  <input [ngClass]=
                           "{
                        'form-control': true,
                        'is-invalid': (registerForm.controls.password.touched || submitted) && registerForm.controls.password.invalid,
                        'is-valid': (registerForm.controls.password.touched || submitted) && registerForm.controls.password.valid
                      }"
                         type="password"
                         placeholder="Lozinka"
                         formControlName="password"
                         id="password"
                  >
                  <div
                    *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.required"
                    class="mt-1">
                    <p class="text-danger">Potrebno je uneti lozinku</p>
                  </div>
                  <div
                    *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.minlength"
                    class="mt-1">
                    <p class="text-danger">Lozinka mora imati minimum 8 karaktera</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label" for="passwordConfirmation">Potvrda lozinke</label>
                  <input [ngClass]=
                           "{
                        'form-control': true,
                        'is-invalid': (registerForm.controls.passwordConfirmation.touched || submitted) && registerForm.controls.passwordConfirmation.invalid,
                        'is-valid': (registerForm.controls.passwordConfirmation.touched || submitted) && registerForm.controls.passwordConfirmation.valid
                      }"
                         type="password"
                         placeholder="Potvrda lozinke"
                         formControlName="passwordConfirmation"
                         id="passwordConfirmation"
                  >
                  <div
                    *ngIf="registerForm.controls.passwordConfirmation.touched && registerForm.controls.passwordConfirmation.errors?.required"
                    class="mt-1">
                    <p class="text-danger">Potrebno je uneti potvrdu lozinke</p>
                  </div>
                  <div
                    *ngIf="registerForm.controls.passwordConfirmation.touched && registerForm.errors?.passwordsNotMatched"
                    class="mt-1">
                    <p class="text-danger">Lozinke se ne poklapaju</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3 align-items-center justify-content-between">
              <div class="col-auto mt-3 mt-md-0">
                <p class="m-0">Imaš profil? <a routerLink="/prijava">Prijavi se.</a></p>
              </div>
              <div class="col-auto ml-auto mt-3 mt-md-0">
                <button class="btn"
                        type="submit"
                >Registruj se
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
