<div class="card myGrayTransparent" style="display: inline-block">
  <div class="card-header text-left myGrayTransparent">
    <h1>Poručite vozilo na vašoj adresi!</h1>
  </div>
  <div class="card-body d-flex flex-wrap justify-content-around align-content-center">
    <button class="btn myOrange" (click)="locateMe()">Lociraj me</button>
    <button class="btn myStrongOrange" (click)="locateMe()">Poruči vozilo</button>
  </div>
</div>
<div class="mt-5 border border-dark rounded-lg" id="map" style="height: 500px; width: 100%;">
</div>
