.pattern {
  display: block;
  height: 2vh;
  overflow: hidden;
  position: relative;
  /*margin-top: 67px;*/
  z-index: 1;
}

.pattern #header-pattern rect{
  stroke: none;
  fill: #fff;
}

.pattern #header-mask rect {
  stroke: none;
  fill: url(#header-pattern);
}

.pattern #header-image {
  stroke: none;
  fill: #ffce00;
  mask: url(#header-mask);
}
