#myNavbar {
  width: 100vw;
  position: relative;
  /*margin-top: 0;*/
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.aNavbar {
  background:
    linear-gradient(
      to right,
      var(--mainColor) 0%,
      var(--mainColor) 5px,
      transparent 5px
    );
  background-repeat: repeat-x;
  background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
}

.aNavbar:hover {
  background:
    linear-gradient(
      to right,
      var(--mainColor) 0%,
      var(--mainColor) 5px,
      transparent
    );
  text-decoration: none;
  color: dimgray;
}

i {
  color: var(--textColor);
}
