<ng-container>
  <mat-sidenav-container style="height: 100%">
    <mat-sidenav #start>
      <mat-nav-list (click)="start.close()">
        <a mat-list-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Početna stranica</span>
        </a>
        <a mat-list-item routerLink="/dashboard">
          <mat-icon>map</mat-icon>
          <span>Poruči vozilo</span>
        </a>
        <a mat-list-item routerLink="/login" *ngIf="isLoggedOut$ | async">
          <mat-icon>account_circle</mat-icon>
          <span>Prijavi se</span>
        </a>
        <a mat-list-item (click)="logout()" *ngIf="isLoggedIn$ | async">
          <mat-icon>exit_to_app</mat-icon>
          <span>Odjavi se</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bg-dark">
      <mat-toolbar color="primary" class="d-flex">
        <button class="menu-button" mat-icon-button (click)="start.open('mouse')">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="d-flex flex-grow-1 justify-content-center">
          <span>Elfak Taxi</span>
        </div>
      </mat-toolbar>
      <div class="container bg-dark" style="margin-top: 70px">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
