<ng-container>
  <div id="myNavbar" class="myOrange">
    <a routerLink="/home">
      <img src="assets/images/header.png" alt="ElFak Taxi"/>
    </a>
    <a routerLink="/home" class="aNavbar">
<!--      <mat-icon>home</mat-icon>-->
      <span>POČETNA</span>
    </a>
    <a routerLink="/dashboard" class="aNavbar">
<!--      <mat-icon class="navbarA">map</mat-icon>-->
      <span>PORUČI VOZILO</span>
    </a>
    <a routerLink="/login" *ngIf="isLoggedOut$ | async" class="aNavbar">
<!--      <mat-icon>account_circle</mat-icon>-->
      <span>PRIJAVI SE</span>
    </a>
    <a (click)="logout()" *ngIf="isLoggedIn$ | async" class="aNavbar">
<!--      <mat-icon>exit_to_app</mat-icon>-->
      <span>ODJAVI SE</span>
    </a>
    <a routerLink="/register" *ngIf="isLoggedOut$ | async" class="aNavbar">
<!--      <mat-icon>exit_to_app</mat-icon>-->
      <span>REGISTRUJ SE</span>
    </a>
  </div>
</ng-container>
