/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body, button {
  font-family: Impact, Charcola, sans-serif;
  font-variant: small-caps;
  color: var(--textColor);
  text-transform: uppercase;
}

h1 {
  font-size: 6vw;
}
:root {
  --textColor: #211616;
  --mainColor: #ff9800;
}

.myOrange {
  background-color: rgb(255, 206, 0);
}

.myStrongOrange {
  background-color: var(--mainColor);
}

.myGray {
  background-color: rgb(96, 96, 96);
}

.myGrayTransparent {
  background-color: rgba(96, 96, 96, 0.8);
}

.bg {
  background-image: url("assets/images/interior.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
  /*height: 100%;*/
  padding: 70px 0 50px 0;
  margin-top: -20px;
  min-height: 80vh;
}

