@import 'variables';
@import 'utils';

/* You can add global styles to this file, and also import other style files */
html, body {

  height: 100%;
}

body {

  background: url("./assets/images/taxi-on-street.jpg");
  background-size: cover;
}

body, button {

  font-family: 'American Typewriter', serif;
  color: var(--dirty-white);
}

.my-gray-transparent-background {

  background-color: var(--dark-gray);
}

.bg {

  background-image: url("assets/images/interior.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
  /*height: 100%;*/
  padding: 70px 0 50px 0;
  margin-top: -20px;
  min-height: 80vh;
}

.form-control {

  background: var(--dirty-white);
  border-radius: var(--border-radius);
}

a {

  color: var(--orange);
}

a:hover {

  color: var(--mainColor);
}


