<div class="row m-0 align-items-center justify-content-center register">
  <div class="col-10 col-md-9 py-5">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7 col-xl-5">
        <div class="row">
          <div class="col-12 p-3 my-gray-transparent-background border-radius-top">
            <h2>Registruj se</h2>
          </div>
          <div class="col-12 p-3 my-gray-transparent-background border-radius-bottom">
            <form [formGroup]="registerForm" (ngSubmit)="submit()">
              <div class="row mt-3">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="first_name">Ime</label>
                    <input
                      [ngClass]="{
                        'form-control': true,
                        'is-invalid':
                          (registerForm.get('first_name')?.touched || submitted) &&
                          registerForm.get('first_name')?.invalid,
                        'is-valid':
                          (registerForm.get('first_name')?.touched || submitted) &&
                          registerForm.get('first_name')?.valid,
                      }"
                      type="text"
                      placeholder="Ime"
                      formControlName="first_name"
                      id="first_name"
                    />
                    @if (
                      registerForm.get('first_name')?.touched && registerForm.get('first_name')?.errors?.['required']
                    ) {
                      <div class="mt-1">
                        <p class="text-danger">Potrebno je uneti ime</p>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="last_name">Prezime</label>
                    <input
                      [ngClass]="{
                        'form-control': true,
                        'is-invalid':
                          (registerForm.get('last_name')?.touched || submitted) &&
                          registerForm.get('last_name')?.invalid,
                        'is-valid':
                          (registerForm.get('last_name')?.touched || submitted) && registerForm.get('last_name')?.valid,
                      }"
                      type="text"
                      placeholder="Prezime"
                      formControlName="last_name"
                      id="last_name"
                    />
                    @if (
                      registerForm.get('last_name')?.touched && registerForm.get('last_name')?.errors?.['required']
                    ) {
                      <div class="mt-1">
                        <p class="text-danger">Potrebno je uneti prezime</p>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="email">E-adresa</label>
                    <input
                      [ngClass]="{
                        'form-control': true,
                        'is-invalid':
                          (registerForm.get('email')?.touched || submitted) && registerForm.get('email')?.invalid,
                        'is-valid':
                          (registerForm.get('email')?.touched || submitted) && registerForm.get('email')?.valid,
                      }"
                      type="email"
                      placeholder="E-adresa"
                      formControlName="email"
                      id="email"
                    />
                    @if (registerForm.get('email')?.touched && registerForm.get('email')?.errors) {
                      <div class="mt-1">
                        @if (registerForm.get('email')?.errors?.['required']) {
                          <p class="text-danger">Potrebno je uneti e-adresu</p>
                        } @else if (registerForm.get('email')?.errors?.['email']) {
                          <p class="text-danger">E-adresa nije validna</p>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="password">Lozinka</label>
                    <input
                      [ngClass]="{
                        'form-control': true,
                        'is-invalid':
                          (registerForm.get('password')?.touched || submitted) && registerForm.get('password')?.invalid,
                        'is-valid':
                          (registerForm.get('password')?.touched || submitted) && registerForm.get('password')?.valid,
                      }"
                      type="password"
                      placeholder="Lozinka"
                      formControlName="password"
                      id="password"
                    />
                    @if (registerForm.get('password')?.touched && registerForm.get('password')?.errors) {
                      <div class="mt-1">
                        @if (registerForm.get('password')?.errors?.['required']) {
                          <p class="text-danger">Potrebno je uneti lozinku</p>
                        } @else if (registerForm.get('password')?.errors?.['minlength']) {
                          <p class="text-danger">Lozinka mora imati minimum 8 karaktera</p>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="password_confirmation"> Potvrda lozinke </label>
                    <input
                      [ngClass]="{
                        'form-control': true,
                        'is-invalid':
                          (registerForm.get('password_confirmation')?.touched || submitted) &&
                          registerForm.get('password_confirmation')?.invalid,
                        'is-valid':
                          (registerForm.get('password_confirmation')?.touched || submitted) &&
                          registerForm.get('password_confirmation')?.valid,
                      }"
                      type="password"
                      placeholder="Potvrda lozinke"
                      formControlName="password_confirmation"
                      id="password_confirmation"
                    />
                    @if (registerForm.get('password_confirmation')?.touched) {
                      <div class="mt-1">
                        @if (registerForm.get('password_confirmation')?.errors?.['required']) {
                          <p class="text-danger">Potrebno je uneti lozinku</p>
                        } @else if (registerForm.errors?.['passwordsNotMatched']) {
                          <p class="text-danger">Lozinke se ne poklapaju</p>
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="row mt-3 align-items-center justify-content-end">
                <!--                <div class="col-auto mt-3 mt-md-0">-->
                <!--                  <p class="m-0">Imaš profil? <a [routerLink]="['/prijava']">Prijavi se.</a></p>-->
                <!--                </div>-->
                <div class="col-auto ml-auto mt-3 mt-md-0">
                  <button class="btn" type="submit" [disabled]="isLoading()">Registruj se</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
